* {
    margin: 20px;

}

h1 {
    position: absolute, top;
    left: absolute;
    right: absolute;
    font-size: 2em;
    font-weight: bold;
    color: rgb(1, 1, 2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

imag {
    position: absolute;
    left: 50%;
    top: 50%;
}

body {
    background: linear-gradient(90deg, rgb(248, 209, 13) 50%, rgb(218, 114, 10), rgb(208, 32, 32));

}

table {
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 20%;
    margin-top: 3%;
    color: black;
    font-size: 1.2em;
    font-weight: 100%;
    text-align: center;
}

input{
    border: 3px solid coral;
    border-radius: 7px;
    font-size: 1.2em;
    text-align: center;
    width: 70%;
    margin-left: 10%;
    top: 40px;
}

button {
    border: 3px solid coral;
    border-radius: 7px;
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;

}

h2 {
    color: black;
    background-color: rgb(255, 249, 249);
    height: 100px;
    border: 4px dashed rgb(0, 0, 0);
    padding: 2px;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
}
    